.resumen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 10px;
}

.resumen-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.prod-resumen {
    gap: unset;
}

.left-resumen {
    gap: 20px;
}

.resumen-h2 {
    margin-top: 40px;
}

.mis-ordenes {
    font-weight: 800;
    font-size: 1rem;
    cursor: pointer;
    background: grey;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-wrap: wrap;
}

.resumen-container-info {
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.costo-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.envio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.costo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.costo-producto p {
    color: black;
}