.resumen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 10px;
}

.resumen-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.prod-resumen {
    gap: unset;
    justify-content: center;
}

.left-resumen {
    gap: unset;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
}

.resumen-h2 {
    margin-top: 40px;
    text-align: center;
}

.mis-ordenes {
    font-weight: 800;
    font-size: 1rem;
    cursor: pointer;
    background: grey;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-wrap: wrap;
}

.resumen-container-info {
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 1px solid black;
    padding-top: 10px;
}

.costo-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.envio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.costo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.costo-producto p {
    color: black;
}

@media only screen and (max-width: 576px) {

    .resumen-title {
        gap: 12px;

        & h1 {
            font-size: 30px;
        }
    }

    .prod-resumen {
        padding: unset;
        justify-content: space-between;
    }

    .resumen-container-info {
        width: 100%;
    }
}