.product {
    display: flex;
    justify-content: space-between;
    background: var(--gray-bg);
    border-radius: 15px;
    padding: 1.5rem 1rem;
    width: 90%;
    max-width: 620px;
}

.product-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.product-left h3,
.product-left p {
    color: black;
}

.price-container-resumen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.price-container-resumen p,
.price-container-resumen span {
    color: black;
}

.product-price-resumen {
    font-weight: 800;
    font-size: 2rem;
}

@media only screen and (max-width: 576px) {

    .product-price-resumen {
        font-size: 21px;
    }

    .product {
        width: 100%;
        padding: 5px;
        gap: 10px;
    }
}