.categorias-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
}

.card-categoria {
    display: flex;
    align-items: center;
    padding: 7px;

    & img {
        width: 30px;
        height: 30px;
    }

    & h2 {
        font-size: 20px;
    }
}

.card-categoria:hover {
    color: gray;
    cursor: pointer;
}

@media only screen and (max-width:768px) {

    .h2-categoria {
        font-size: 16px;
    }

    .categorias-container {
        width: 100%;
    }

    .card-categoria {
        padding: 5px;
    }
}

@media only screen and (max-width:576px) {

    .categorias-container {
        flex-wrap: wrap;
        padding: 15px 5px;
        justify-content: space-evenly;
        gap: 10px;
    }
}