.button {
    outline: none;
    border: 1.5px solid black;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}