header {
    width: 100%;
    height: 100px;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    z-index: 999999;

}

.navbar-container {
    width: 100%;
    max-width: 1200px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.sticky__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: burlywood;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo a {
    height: 100%;
}

.logo img {
    height: 100%;
}

.container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    width: 450px;
    height: calc(100vh - 2rem);
    padding: 1.5rem;
    background-image: url(../../assets/images/bg1.jpg);
    border-radius: 0 0 0 1rem;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.3);
}

.close-button-container {
    height: 32px;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background: transparent;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.close-button:hover {
    color: gainsboro;
}

.main-container {
    height: 100%;
}

.title {
    height: 20%;
}

.title h1 {
    text-align: center;
    color: white;
    font-size: 30px;
}

.products-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 270px;
    margin: 0 auto;
    padding: 1rem;
}

.trash-btn-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.trash-btn-container .increase {
    width: 100%;
    margin-top: 10px;
}

.trash-btn-container .increase:hover {
    color: bisque;
}

.span-trash {
    font-size: 15px;
    display: flex;
    align-items: center;
}

.price-container {
    z-index: 1000;
    border-top: 1px solid white;
    padding-top: 5px;

    & p {
        text-align: center;
        margin-bottom: 0;
        color: white;
    }

    & span {
        color: white;
    }
}

.subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
}

.subtotal-btn {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    margin-top: 5px;
}

.subtotal .btn-submit {
    margin-top: 5px;
}

.product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    width: 385px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
    padding: 7px;
    border-radius: 15px;

    & img {
        width: 80px;
        height: 80px;
        border-radius: 16px;
        object-fit: cover;
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 190px;
    align-items: center;
}

.product-container .text-container {
    color: white;
}

.card-title-h3 {
    margin: 0;
    margin-bottom: 2px;
    font-weight: 500;
}

.text {
    margin: 0;
    color: white;
    font-size: 1rem;
}

.quantity-container {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 18px;
    gap: 3px;
}

.quantity-container .increase {
    background-color: transparent;
}

.quantity-container .increase:hover {
    color: bisque;
}

.links-container {
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-shadow: 4px 2px 3px rgba(187, 114, 38, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.cart-nav {
    position: relative;
    cursor: pointer;

    span {
        position: absolute;
        top: 0;
        height: 20px;
        width: 20px;
        text-align: center;
        border-radius: 1rem;
        border: 1px solid white;
        color: white;
        background-color: red;
        font-size: 0.9rem;
    }
}

.user-nav {
    gap: 15px;
    cursor: pointer;

    span {
        color: white;
        font-size: 1rem;
        margin-right: 20px;
    }
}

.user-container {
    display: flex;
    align-items: center;
    gap: 2px;
}

.span:hover {
    text-decoration: underline;
}

.mobile__menu {
    font-size: 1.3rem;
    display: none;
}

.menu-hamburguesa {
    color: white;
    text-shadow: 4px 2px 3px rgba(187, 114, 38, 0.95);
    font-size: 20px;
}

/* MEDIAQUERIES */

@media only screen and (max-width:768px) {

    header {
        height: 80px;
        padding: 0 4px;
    }

    .navbar-container {
        padding: unset;
        justify-content: space-between;
        padding: 0 10px 0 10px;
    }

    .links-container {
        font-size: 18px;
        font-weight: 600;
        gap: 28px;
    }

    .subtotal {
        padding: 0 6px;
    }

}

@media only screen and (max-width: 576px) {

    .container {
        z-index: 999999999;
        padding: 10px 3px 10px 3px;
        width: 100%;
        height: 100%;
        border-radius: unset;
    }

    .navigation {
        position: fixed;
        top: 0px;
        padding-top: 70px;
        left: 0;
        width: 100%;
        height: calc(100vh - 80px);
        background: rgba(0, 0, 0, 0.53);
        z-index: 9999;
        display: none;
    }

    .links-container {
        position: absolute;
        width: 100%;
        height: calc(100vh - 80px);
        top: 80px;
        background-color: black;
        z-index: 99999;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .active__menu {
        display: block;
    }

    .mobile__menu {
        display: block;
        cursor: pointer;
        z-index: 999999;
    }

    .product-container {
        width: 100%;
        padding: 5px 8px 5px 8px;
        gap: 5px;

        & img {
            width: 60px;
            height: 60px;
        }
    }

    .card-title-h3 {
        font-size: 16px;
        text-align: center;
    }

    .modalcart-p {
        font-size: 14px;
    }

    .products-wrapper {
        padding: unset;
    }

    .text-container {
        width: unset;
    }
}