.found-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 1200px;
    height: 100vh;
    gap: 5rem;
    background-image: url(../../assets/images/mario5.jpg);
    background-size: cover;
    background-position: center;
    margin-top: -100px;
    padding-bottom: 30px;
}

.found-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;


    & h1 {
        color: red;
    }

    & h2 {
        color: red;
        padding-bottom: 20px;
    }

    & p {
        margin-bottom: 28px;
    }
}

.found-title {
    font-weight: 800;
    font-size: 2rem;
}

.found-subtitle {
    font-weight: 400;
}